/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --orange: #ff5943;
  --dark-orange: #f14a38;
  --yellow: #ffd33f;
  --default-transition: 0.3s;
}

.container {
  font-family: "bebas neue";
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 200px;
  gap: 20px;
}
.main__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__nav__brand {
  color: var(--orange);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.main__nav__dots {
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  padding: 1px 22px 1px 15px;
  border-right: 3px solid var(--orange);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main__nav__logo {
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 10px;
  gap: 10px;
}
.main__nav__logo__ok {
  font-size: 40px;
  padding: 0 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: var(--orange);
  position: absolute;
  left: 50px;
}
.main__nav__logo__name {
  display: flex;
  letter-spacing: 8px;
  font-size: 17px;
  padding-left: 40px;
}
.main__nav__links {
  display: flex;
  align-items: center;
  gap: 100px;
  font-size: 22px;
  padding: 17px;
  padding-left: 100px;
  border: 3px solid var(--dark-orange);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.main__nav__link {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 7px 15px;
  border-radius: 7px;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: var(--default-transition);
}
.main__nav__link:hover {
  border: 3px solid var(--yellow);
}
.main__nav__social {
  display: flex;
  gap: 20px;
}
.main__nav__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-orange);
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: var(--default-transition);
}
.main__nav__icon:hover {
  background-color: var(--orange);
  border: 3px solid var(--yellow);
  scale: 1.1;
}
.main__social__icon {
  width: 25px;
}
.main__body {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.main__stuff {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 30px;
}
.main__stuff__title {
  font-size: 100px;
  font-weight: bold;
  line-height: 0.8;
}
.main__stuff__header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main__stuff__achievement {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main__stuff__achievement__description {
  width: 250px;
  font-family: sans-serif;
  font-weight: bold;
}
.main__stuff__achievement__icon {
  border: 3px solid white;
  border-radius: 50%;
  padding: 6px;
}
.main__stuff__achievement__icon img {
  width: 55px;
}
.main__stuff__button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  padding-left: 30px;
  background-color: var(--yellow);
  align-items: center;
  border-radius: 10px;
  position: relative;
  transition: var(--default-transition);
}
.main__stuff__button__play {
  background-color: var(--orange);
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  left: 17px;
}
.main__stuff__button__learn {
  background-color: white;
  font-size: 22px;
  color: var(--orange);
  padding: 10px 20px;
  border-left: 3px solid var(--orange);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main__stuff__button:hover {
  cursor: pointer;
  scale: 1.1;
  box-shadow: 0 0 30px white;
}
.main__image {
  width: 900px;
}

.illustrator {
  color: var(--yellow);
  letter-spacing: 8px;
}

.facebook-icon {
  width: 16px;
}

#fd {
  color: white;
}

.play-arrow {
  width: 15px;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.container:has(.main__stuff__button:hover) .play-arrow {
  animation: rotate 1s ease;
}

.work {
  width: 100%;
  padding: 70px 0;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.work__card {
  color: white;
  padding: 30px 40px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  background-color: var(--dark-orange);
  position: relative;
  transition: 0.15s;
}
.work__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work__card__header__left {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.work__card__header__number {
  font-size: 24px;
  font-weight: 550;
}
.work__card__header__title {
  color: var(--yellow);
  letter-spacing: 1px;
}
.work__card__header__right {
  border: 3px solid var(--orange);
  padding: 10px;
  border-radius: 7px;
}
.work__card__header__right img {
  width: 25px;
}
.work__card__image {
  border: 10px solid white;
  border-radius: 10px;
}
.work__card__image img {
  height: 240px;
  width: 100%;
}
.work__card__topic {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}
.work__card__topic__title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2px;
}
.work__card__topic__description {
  letter-spacing: 1px;
}
.work__card__types {
  display: flex;
  gap: 10px;
}
.work__card__type {
  padding: 3px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 550;
  color: var(--orange);
  background-color: var(--yellow);
}
.work__card__buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  bottom: -25px;
}
.work__card__button {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  padding-left: 30px;
  background-color: var(--yellow);
  align-items: center;
  border-radius: 10px;
  border: 5px solid var(--orange);
  position: relative;
  transition: var(--default-transition);
}
.work__card__button__play {
  background-color: var(--orange);
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  left: 17px;
}
.work__card__button__view {
  background-color: white;
  font-size: 22px;
  color: var(--orange);
  padding: 10px 20px;
  border-left: 3px solid var(--orange);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.work__card__button__circle {
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}
.work__card:hover {
  scale: 1.1;
}

.work:has(.first-card:hover) .first-card-button {
  display: flex;
}
.work:has(.first-card:hover) .first-card-button-circle {
  display: none;
}

.work:has(.second-card:hover) .second-card-button {
  display: flex;
}
.work:has(.second-card:hover) .second-card-button-circle {
  display: none;
}

.work:has(.third-card:hover) .third-card-button {
  display: flex;
}
.work:has(.third-card:hover) .third-card-button-circle {
  display: none;
}

.circle-arrow {
  fill: var(--dark-orange);
}

.events {
  width: 100%;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--orange);
  color: white;
}
.events__title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 60px;
}
.events__nav {
  background-color: var(--dark-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: px;
  border-radius: 10px;
}
.events__link {
  padding: 10px 55px;
  border-radius: 10px;
  transition: 0.3s;
}
.events__link:hover {
  cursor: pointer;
  color: var(--dark-orange);
  background-color: white;
}
.events__stuff {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.events__stuff :nth-of-type(4) {
  border-bottom: 3px solid var(--dark-orange);
}
.events__stuff :nth-of-type(2) :nth-child(2) {
  margin-left: 7px;
}
.events__stuff :nth-of-type(3) :nth-child(2) {
  margin-left: 6px;
}
.events__stuff :nth-of-type(4) :nth-child(2) {
  margin-left: 9px;
}
.events__stuff :nth-of-type(1) :nth-child(2) :nth-child(2) {
  margin-left: 15px;
}
.events__stuff :nth-of-type(2) :nth-child(2) :nth-child(2) {
  margin-left: 25px;
}
.events__stuff :nth-of-type(4) :nth-child(2) :nth-child(2) {
  margin-left: 10px;
}
.events__stuff :nth-of-type(2) :nth-child(2) :nth-child(3) {
  margin-left: 25px;
}
.events__stuff :nth-of-type(3) :nth-child(2) :nth-child(3) {
  margin-left: 17px;
}
.events__stuff :nth-of-type(4) :nth-child(2) :nth-child(3) {
  margin-left: 8px;
}
.events__row {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 30px;
  border-top: 3px solid var(--dark-orange);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  gap: 50px;
  transition: 0.15s;
}
.events__row__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.events__row__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.events__location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.events__sms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.events svg:not(.events-arrow) {
  fill: var(--yellow);
}
.events__year {
  font-size: 18px;
}
.events__name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: -1px;
}
.events__row:hover {
  cursor: pointer;
  background-color: white;
  color: var(--orange);
  scale: 1.1;
  border-radius: 10px;
  border-bottom: 3px solid var(--dark-orange);
}
.events__row:hover svg {
  fill: var(--orange);
}

.events-arrow {
  width: 10px;
  fill: #ffffff;
}

.event-icon {
  width: 55px;
  height: 55px;
}

.about {
  width: 100%;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
}
.about__box {
  display: flex;
  background-color: var(--dark-orange);
  border: 3px solid var(--dark-orange);
  border-radius: 10px;
  position: relative;
}
.about__dots {
  height: 100%;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 1px 22px 1px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.about__logo {
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 10px;
  gap: 10px;
}
.about__logo__ok {
  font-size: 40px;
  padding: 0 10px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--orange);
  background-color: white;
}
.about__logo__name {
  color: white;
  display: flex;
  letter-spacing: 8px;
  font-size: 17px;
}
.about__left {
  padding: 30px;
  padding-bottom: 50px;
  padding-right: 180px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.about__left__top {
  display: flex;
}
.about__left__bottom {
  padding-left: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.about__title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  width: 200px;
  line-height: 1;
  font-size: 40px;
}
.about__description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 250px;
}
.about__button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  padding-left: 30px;
  background-color: var(--yellow);
  align-items: center;
  border-radius: 10px;
  position: relative;
  transition: var(--default-transition);
}
.about__button__play {
  background-color: var(--orange);
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  left: 17px;
}
.about__button__view {
  background-color: white;
  font-size: 22px;
  color: var(--orange);
  padding: 10px 20px;
  border-left: 3px solid var(--orange);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.about__button:hover {
  cursor: pointer;
  scale: 1.1;
  box-shadow: 0 0 16px white;
}
.about__lines {
  display: flex;
  gap: 5px;
}
.about__right {
  padding-right: 230px;
  color: var(--orange);
  background-color: var(--orange);
}
.about__image {
  position: absolute;
  width: 500px;
  height: 450px;
  border: 10px solid white;
  border-radius: 10px;
  right: -50px;
}

#about-fd {
  color: var(--dark-orange);
}

.line-icon {
  fill: white;
  width: 40px;
  transition: var(--default-transition);
}

.line-icon:hover {
  fill: var(--yellow);
}

.about:has(.about__button:hover) .about__button__play {
  animation: rotate 1s ease;
}

.awards {
  width: 100%;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
}
.awards__box {
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-orange);
  padding: 50px;
  border-radius: 10px;
  gap: 50px;
}
.awards__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.awards__left__number {
  color: var(--yellow);
}
.awards__title {
  width: 230px;
  font-size: 50px;
  font-weight: bold;
  line-height: 0.8;
}
.awards__left__buttons {
  display: flex;
  gap: 20px;
}
.awards__left__button {
  background-color: var(--orange);
  padding: 15px;
  border-radius: 50%;
  transition: var(--default-transition);
}
.awards__left__button:hover {
  scale: 1.1;
}
.awards__options {
  display: flex;
  gap: 30px;
}
.awards__option {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  position: relative;
  transition: var(--default-transition);
}
.awards__option__name {
  width: 230px;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.9;
}
.awards__option:hover {
  scale: 1.15;
}
.awards__option:hover::before {
  display: flex;
}
.awards__option:hover .awards__year {
  display: none;
}
.awards__option:hover .awards__description {
  display: flex;
}
.awards__option:hover .awards__button {
  display: flex;
}
.awards__option::before {
  content: "2022";
  color: var(--yellow);
  width: 40px;
  height: 30px;
  display: none;
  align-items: start;
  justify-content: center;
  border-radius: 7px;
  background-color: var(--dark-orange);
  position: absolute;
  top: -50px;
}
.awards__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.awards__description {
  display: none;
  line-height: 1.1;
  width: 230px;
}
.awards__year {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  color: var(--yellow);
  padding: 3px 5px;
  border: 2px solid var(--yellow);
  border-radius: 7px;
}
.awards__button {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  padding-left: 30px;
  background-color: var(--yellow);
  align-items: center;
  border: 5px solid var(--orange);
  border-radius: 10px;
  position: relative;
  transition: var(--default-transition);
  position: absolute;
  bottom: -75px;
}
.awards__button__play {
  background-color: var(--orange);
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  left: 17px;
}
.awards__button__learn {
  font-weight: bold;
  background-color: white;
  font-size: 22px;
  color: var(--orange);
  padding: 10px 20px;
  border-left: 3px solid var(--orange);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.angle-icon {
  width: 15px;
}

.award-icon {
  width: 90px;
}

.footer {
  width: 100%;
  padding: 150px 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  position: relative;
}
.footer__links {
  background-color: var(--dark-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 15px;
  gap: 20px;
  border: 15px solid var(--orange);
  position: absolute;
  bottom: 150px;
}
.footer__links__title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: bold;
  width: 250px;
  line-height: 0.8;
}
.footer__links__media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer__links__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  padding: 15px;
  border-radius: 10px;
  gap: 10px;
  position: relative;
  transition: var(--default-transition);
}
.footer__links__link:hover {
  scale: 1.1;
}
.footer__links__link:hover .media-arrow-icon {
  display: flex;
}
.footer__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-orange);
  padding: 100px 50px 20px;
  gap: 100px;
}
.footer__nav__links {
  display: flex;
  gap: 30px;
}
.footer__nav__link {
  font-size: 22px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 7px 20px;
  transition: var(--default-transition);
}
.footer__nav__link:hover {
  border: 3px solid var(--yellow);
}
.footer__left {
  display: flex;
}
.footer__dots {
  height: 100%;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding: 1px 22px 1px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__logo {
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 10px;
  gap: 10px;
}
.footer__logo__ok {
  font-size: 40px;
  padding: 0 10px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--orange);
  background-color: white;
}
.footer__logo__name {
  color: white;
  display: flex;
  letter-spacing: 8px;
  font-size: 17px;
}
.footer__copyright {
  font-size: 14px;
  letter-spacing: 1px;
}

.media-arrow-icon {
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -15px;
  display: none;
}

.media-icon {
  width: 35px;
}

.facebook-link {
  padding: 13px 20px;
}

.facebook {
  width: 25px;
}

.media-arrow {
  width: 10px;
}

.dribble-link {
  background-color: #e74181;
}

.dribble-arrow {
  fill: #e74181;
}

.twitter-link {
  background-color: #08a2ef;
}

.twitter-arrow {
  fill: #08a2ef;
}

.twitch-link {
  background-color: #843af1;
}

.twitch-arrow {
  fill: #843af1;
}

.facebook-link {
  background-color: #1193f3;
}

.facebook-arrow {
  fill: #1193f3;
}

.instagram-link {
  background-color: #ef4956;
}

.instagram-arrow {
  fill: #ef4956;
}

@media (max-width: 1200px) {
  .main__nav__dots {
    font-size: 25px;
  }
  .main__nav__links {
    font-size: 20px;
    gap: 50px;
    padding: 11px;
    padding-left: 40px;
  }
  .main__social__icon {
    width: 15px;
  }
  .facebook-icon {
    width: 13px;
  }
  .work__card__image {
    width: -moz-fit-content;
    width: fit-content;
  }
  .work__card__image img {
    height: 180px;
    width: 180px;
  }
  .work__card__topic__title {
    font-size: 30px;
  }
  .awards__box {
    padding: 35px;
  }
  .awards__left__button {
    padding: 10px;
  }
  .awards__option__name {
    width: 200px;
    font-size: 20px;
  }
  .awards__button {
    bottom: -50px;
  }
  .awards__button__learn {
    font-size: 16px;
    border-left: 2px solid var(--orange);
  }
  .awards__button__play {
    left: 19px;
  }
  .awards__description {
    width: 200px;
    font-size: 14px;
  }
  .awards__option::before {
    top: -40px;
  }
  .award-icon {
    width: 60px;
  }
  .play-arrow {
    width: 10px;
  }
  .footer__nav {
    gap: 30px;
  }
  .footer__logo {
    padding-right: 35px;
  }
  .footer__links__link {
    padding: 10px 15px;
  }
  .footer__copyright {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .main {
    padding: 20px 100px;
    gap: 40px;
  }
  .main__nav__logo {
    padding-right: 30px;
  }
  .main__nav__logo__ok {
    font-size: 30px;
    left: 45px;
  }
  .main__nav__dots {
    font-size: 20px;
    border-right: 2px solid var(--orange);
  }
  .main__nav__links {
    font-size: 16px;
    gap: 30px;
    padding: 10px;
    padding-left: 40px;
  }
  .main__nav__link {
    padding: 4px 8px;
  }
  .main__nav__icon {
    width: 30px;
    height: 30px;
  }
  .main__social__icon {
    width: 15px;
  }
  .main__stuff__header {
    gap: 20px;
  }
  .main__stuff__title {
    font-size: 70px;
  }
  .main__stuff__achievement__description {
    width: 270px;
    font-size: 16px;
  }
  .main__stuff__button {
    padding-left: 25px;
  }
  .main__stuff__button__learn {
    font-size: 20px;
  }
  .main__stuff__icon {
    border: 2px solid white;
    padding: 4px;
  }
  .main__stuff__icon img {
    width: 45px;
  }
  .facebook-icon {
    width: 11px;
  }
  .work__card {
    padding: 30px;
    padding-bottom: 50px;
  }
  .work__card__header__title {
    font-size: 15px;
  }
  .work__card__image {
    width: -moz-fit-content;
    width: fit-content;
  }
  .work__card__image img {
    height: 150px;
    width: 150px;
  }
  .work__card__topic__title {
    font-size: 22px;
    letter-spacing: 0;
  }
  .work__card__type {
    padding: 3px 10px;
    font-size: 14px;
  }
  .about__left {
    padding-right: 100px;
    gap: 40px;
  }
  .about__dots {
    font-size: 25px;
  }
  .about__title {
    font-size: 30px;
  }
  .about__button {
    padding-left: 20px;
  }
  .about__button__play {
    padding: 5px;
    left: 13px;
  }
  .about__button__view {
    padding: 8px 16px;
    font-size: 18px;
    border-left: 2px solid var(--orange);
  }
  .about__image {
    width: 400px;
    height: 370px;
    right: 10px;
  }
  .awards__box {
    padding: 35px;
    flex-direction: column;
    gap: 100px;
  }
  .awards__left {
    align-items: center;
    justify-content: center;
  }
  .awards__left__button {
    padding: 10px;
  }
  .awards__title {
    text-align: center;
  }
  .awards__option__name {
    width: 200px;
    font-size: 20px;
  }
  .awards__button {
    bottom: -50px;
  }
  .awards__button__learn {
    font-size: 16px;
    border-left: 2px solid var(--orange);
  }
  .awards__button__play {
    left: 19px;
  }
  .awards__description {
    width: 200px;
    font-size: 14px;
  }
  .awards__option::before {
    top: -40px;
  }
  .awards__option:hover {
    scale: 1;
  }
  .awards__option::before {
    display: flex;
  }
  .awards .awards__year {
    display: none;
  }
  .awards .awards__description {
    display: flex;
  }
  .awards .awards__button {
    display: flex;
  }
  .award-icon {
    width: 60px;
  }
  .play-arrow {
    width: 10px;
  }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer__dots {
    font-size: 25px;
    padding-right: 15px;
  }
  .footer__logo {
    padding-right: 35px;
  }
  .footer__logo__ok {
    font-size: 35px;
  }
  .footer__links {
    padding: 40px;
  }
  .footer__links__title {
    font-size: 30px;
    width: 180px;
  }
  .footer__links__link {
    padding: 10px 10px;
  }
  .footer__copyright {
    justify-self: start;
    text-align: center;
    font-size: 12px;
    grid-column: 2/span 2;
  }
  .footer .media-arrow-icon {
    padding: 4px;
    bottom: -12px;
  }
  .footer .media-icon {
    width: 25px;
  }
  .footer .media-arrow {
    width: 8px;
  }
  .footer .facebook {
    width: 21px;
  }
}
@media (max-width: 800px) {
  .main {
    padding: 30px;
  }
  .events__row {
    padding: 20px;
    gap: 40px;
  }
  .events__row:hover {
    scale: 1;
  }
  .events__row__right {
    gap: 20px;
  }
  .about__left {
    gap: 15px;
  }
  .about__right {
    padding-right: 180px;
  }
  .about__image {
    width: 350px;
    height: 320px;
  }
  .awards__box {
    padding: 20px;
  }
  .footer__links {
    bottom: 200px;
  }
  .footer__logo {
    padding-right: 0;
  }
  .footer__nav {
    padding-top: 140px;
  }
  .footer__nav__link {
    font-size: 16px;
    padding: 5px 10px;
  }
}
@media (max-width: 700px) {
  .container {
    overflow: hidden;
  }
  .main {
    padding: 20px 0;
  }
  .main__nav {
    flex-direction: column;
    gap: 10px;
  }
  .main__nav__brand {
    border-radius: 10px;
  }
  .main__nav__links {
    display: inline;
    padding-left: 17px;
    width: 300px;
    text-align: center;
    border-left: 3px solid var(--dark-orange);
    border-radius: 10px;
  }
  .main__nav__social {
    margin-top: 10px;
    justify-content: center;
  }
  .main__body {
    text-align: center;
    flex-direction: column;
  }
  .main__stuff {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .main__stuff__achievement__description {
    width: 220px;
  }
  .main__stuff__button {
    align-self: center;
  }
  .main__image {
    width: 370px;
  }
  .work {
    overflow-x: scroll;
    align-items: flex-start;
    padding-left: 550px;
    padding-right: 100px;
  }
  .work__card__header {
    width: 200px;
  }
  .work__card:hover {
    scale: 1.01;
  }
  .events {
    overflow: scroll;
  }
  .events__title {
    font-size: 35px;
  }
  .events__link {
    padding: 10px 30px;
  }
  .events__stuff {
    gap: 10px;
    padding: 30px;
  }
  .events__row {
    padding: 7px;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--dark-orange);
    border-radius: 10px;
  }
  .events__row__left {
    flex-direction: column;
  }
  .events .location-place,
  .events .community {
    font-size: 13px;
    margin-left: 5px;
  }
  .events .event-icon {
    width: 70px;
    height: 70px;
  }
  .about__box {
    flex-direction: column;
  }
  .about__left {
    padding-bottom: 180px;
  }
  .about__right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }
  .about__image {
    width: 320px;
    height: 320px;
    right: 70px;
    border: 7px solid white;
  }
  .awards {
    overflow: scroll;
    padding-left: 300px;
  }
  .footer__links {
    flex-direction: column;
    bottom: 250px;
    padding: 30px;
  }
  .footer__links__title {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 22px;
  }
  .footer__links__link {
    border: 3px solid white;
  }
  .footer__links__media {
    gap: 15px;
  }
  .footer .media-icon {
    width: 100px;
  }
  .footer .facebook {
    height: 28px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
  }
}/*# sourceMappingURL=style.css.map */